
@{
    ViewData["Title"] = "Index";
}

<h1>Cars and owners</h1>

<ul>
    <li>
        <a class="btn btn-primary" asp-controller="Car" asp-action="Cars">Cars</a>
    </li>
    <li>
        <a class="btn btn-primary" asp-controller="Car" asp-action="CarsFromList">Cars from list</a>
    </li>
    <li>
        <a class="btn btn-primary" asp-controller="Car" asp-action="Owners">Owners</a>
    </li>
    <li>
        <a class="btn btn-primary" asp-controller="Car" asp-action="ListAllCarsAndOwners">List everything</a>
    </li>
</ul>

